##########
# Application files are all in ucla_providence, but don't put .gitignore
# in that directory as we currently wipe all that out with each upgrade.
##########

# Ignore everthing in app/tmp, except the supplied .htaccess file(s)
ucla_providence/app/tmp/*
!ucla_providence/app/tmp/.htaccess

# Ignore logs
ucla_providence/app/log

##########
# Local files
##########

# Ignore secrets, except for kamal "secrets" which really aren't
*secret*
!.kamal/secrets
